{% block title %}{% translate '' %}{% endblock %}
{% block head %}
    <meta name="description" content="{% translate '' %}">   
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:site_name" content="WhySkin"/>
    <meta property="og:image" content="https://whyskin.com.ua{% static 'img/logo.svg' %}"/>
    <meta property="og:title" content="{% translate '' %}" />
    <meta property="og:description" content="{% translate '' %}" />
    <meta property="og:type" content="website" />
{% endblock %}
{% block styles %}
{% endblock %}





/*--------------------------------- ПЛАНШЕТ ВЕРТИКАЛЬНО --------------------------------------*/
@media (orientation:portrait) and (max-width:1025px) and (max-height:1367px){
    
}
@media (orientation:portrait) and (max-width:768px) and (max-height:1024px){ 	

}
@media (orientation:portrait) and (max-width:600px) and (max-height:960px){ 	

}
@media (orientation:portrait) and (max-width:540px) and (max-height:720px){ 	

}

/*--------------------------------- ПЛАНШЕТ ГОРИЗОНТАЛЬНО --------------------------------------*/
@media (orientation:landscape) and (max-width:1367px) and (max-height:1025px){
    
}


@media (orientation:landscape) and (max-width:1024px) and (max-height:768px){
    
}


/*--------------------------------- Телефон ВЕРТИКАЛЬНО --------------------------------------*/
@media (orientation:portrait) and (max-width:480px){

}
@media (max-width:420px){

}
@media (max-width:380px){

}
@media (max-width:360px){

}
@media (max-width:320px){

}

@media (max-width:280px){	

}


/*--------------------------------- Телефон Горизонтально --------------------------------------*/
@media (orientation:landscape) and (max-width:900px){    

}
@media (orientation:landscape) and (max-width:850px){
    
}
@media (orientation:landscape) and (max-width:740px){
    
}
@media (orientation:landscape) and (max-width:600px){

}
