{% extends 'cosmetics/base.html' %} 
{% load static %} 
{% load i18n %} 

{% block title %}Блог WhySkin{% endblock %}
{% block head %}
    <meta name="description" content="{% translate 'Переходите к нам, расскажем много интересного по теме ухода! Раскроем секреты и лайфхаки!' %}">   
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:site_name" content="WhySkin"/>
    <meta property="og:image" content="https://whyskin.com.ua{% static 'img/logo.svg' %}"/>
    <meta property="og:title" content="{% translate 'Блог онлайн-магазина WhySkin' %}" />
    <meta property="og:description" content="Переходите к нам, расскажем много интересного по теме ухода! Раскроем секреты и лайфхаки!" />
    <meta property="og:type" content="website" />
{% endblock %}
{% block styles %}
    <link href="{% static 'css/blog.css' %}" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}  
    {% if request.user.is_staff %}
        <a href="{% url 'cosmetics:add_blog_post' %}"><div class="add_new_blog_div"><img src="{% static 'img/add_product.svg' %}" alt="{% translate 'Добавить новую статью' %}">{% translate 'Добавить новую статью' %}</div></a>
    {% endif %}

    <h1 class="blog_h1">{% translate "WhySkin блог - полезные знания для Вашего ухода" %}</h1>
    {% now "d.m.Y" as current_date %}

    <div class="blog">
        <!-- <div class="blog_block"> -->
        {% if blog_obj %}
            {% for val in blog_obj %}
                <a href="{% url 'cosmetics:blog_post' val.slug %}" class="article">
                    <span>
                        <span class="a_title">{{val.title}}</span>
                        {% if current_date == val.published|date:"d.m.Y" %}
                            <span class="a_publ">{% translate "Сегодня" %}</span>
                            <span class="fresh">{% translate "Свежее" %}</span>
                        {% elif yesterday_date == val.published|date:"d.m.Y" %}
                            <span class="a_publ">{% translate "Вчера" %}</span>
                            <span class="fresh">{% translate "Свежее" %}</span>
                        {% else %}
                            <span class="a_publ">{{val.published|date:"d.m.Y"}}</span>
                        {% endif %}
                    </span>
                    <span class="a_content">{{val.content|striptags|safe}}</span>
                </a>
            {% endfor %}
        <!-- </div> -->
        {% else %}
            <h3 style="text-align: center;">{% translate "Публикаций пока нет, но мы вскоре напишем что-то интересное" %}</h3>
        {% endif %}

        </div>
    </div>

    {% if blog_obj.paginator.num_pages > 1 %}
        <div class="pagination">  
            <div class="pagination_content">
                {% if blog_obj.has_previous %}
                    <a href="?page={{ blog_obj.previous_page_number }}"><span class="pag_arrow_back"></span></a>
                {% endif %}
                    Страница <span class="this_page">{{blog_obj.number}}</span> из {{blog_obj.paginator.num_pages}}
                {% if blog_obj.has_next %}
                    <a href="?page= {{ blog_obj.next_page_number }}"><span class="pag_arrow_forw"></span></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
