{% extends 'cosmetics/base.html' %}
{% load static %} 
{% load i18n %} 

{% block title %}{% translate "Обмен и возврат" %} на WhySkin{% endblock %}
{% block head %}
    <meta name="description" content="{% translate 'Обмен и возврат онлайн-магазина WhySkin. Прочитайте обмен и возврат перед тем, как покупать товары в нашем онлайн-магазине.' %}">   
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:site_name" content="WhySkin"/>
    <meta property="og:image" content="https://whyskin.com.ua/{% static 'img/logo.jpg' %}"/>
    <meta property="og:title" content="{% translate 'Обмен и возврат онлайн-магазина WhySkin' %}" />
    <meta property="og:description" content="Обмен и возврат онлайн-магазина WhySkin. Прочитайте обмен и возврат перед тем, как покупать товары в нашем онлайн-магазине." />
    <meta property="og:type" content="website" />
{% endblock %}
{% block styles %}
    <link href="{% static 'css/privacy.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %} 
<div class="rules_field">
    <div class="rules_block">
        <p class="rules_title">{% translate "Обмен и возврат" %} </p>
        <p>{% translate "Мы всегда стараемся пойти навстречу Покупателю, если он обнаружил несоответсвие товара с его заказом." %}</p>
        <p>{% translate "Ниже мы привели условия, при которых мы можем принять товар обратно, и действия, которые Вы должны совершить при его возвращении." %}</p>
        <br>
        
        <p class="rules_header">{% translate "Условия, при которых мы можем принять товар:" %} </p>
        <ol>
            <li>{% translate 'При получении посылки товар не соответствует заказу.' %}</li>
            <li>{% translate 'Товар пришёл в упаковке без обёртывания (если это не предусмотрено производителем).' %}</li>
            <li>{% translate 'Фактический литраж/вес продукта не соотвествует литражу/весу, обозначенным производителем.' %}</li>
            <li>{% translate 'Если товар не открыт, а целостность упаковки не нарушена, в течение 14 дней с момента покупки вы можете вернуть продукт.' %}</li>
        </ol>
        <p class="rules_header">{% translate "Действия, которые Вам нужно предпринять для возвращения товара:" %} </p>
        <ol>
            <li>{% translate 'Свяжитесь с администрацией онлайн-магазина' %}. <a href="{% url 'cosmetics:contacts' %}">{% translate 'Контакты Вы можете найти здесь.' %}</a></li>
            <li>{% translate 'Опишите проблему максимально подробно. В случае необходимости мы попросим Вас предоставить фото/видеоматериалы для подтверждения брака/повреждения товара.' %}</li>
            <li>{% translate 'Обязательно сохраняйте товары, входившие в набор (без повреждений во время распаковки и использования),  все комплектующие и упаковку товара со штрих-кодом производителя а также документ или номер заказа, подтверждающий приобретение товара у нас.' %}</li>
        </ol>

        <p>{% translate 'В течение 14 дней (не больше 30 дней) после получения посылки мы изучаем возвращенные позиции, принимаем решение о возврате денежных средств на указанный счет. ' %}</p>
        <p>{% translate 'Если вы не использовали карту для оплаты, для возврата средств, нам нужно будет уточнить номер карты для осуществления возврата и ФИО владельца карты. ' %}</p>
        <p>{% translate 'Единственная просьба: не возвращайте нам товары, приобретенные в другом магазине, продукцию, которой вы пользовались, а также изделия, по которым нет аргументированных причин для обмена или возврата. Во всех остальных ситуациях мы постараемся помочь быстро и легко оформить обмен или возврат. ' %}</p>
        <br>
        <p>{% translate 'По всем вопросам Вы можете связаться по контактам в' %} <a href="{% url 'cosmetics:contacts' %}">{% translate 'этой ссылке' %}</a></p>
    </div>
</div>
{% endblock %}