{% autoescape off %}
<div style="max-width: 650px; padding: 28px 24px 10px; margin: 0 auto; font-family: sans-serif;">
    <div style="text-align: left;">
      <a href="https://whyskin.com.ua/" style="text-decoration: none;font-size: 27px; color: initial; text-align: center;">
        <span>WhySkin</span>     
      </a>
    </div>
    <div style="text-align: center; max-width: 476px; margin: 0 auto;font-size: 27px;margin: 10px auto; ">
      Забули пароль?
    </div>
    <div style="max-width: 600px; font-size: 20px; text-align: center; margin: 10px auto 30px auto;">
      Щоб скинути пароль, натисніть кнопку нижче.
    </div>
    <div style="max-width: 476px; margin: 0 auto; text-align: center; padding: 20px 0 44px;">
      <a href="{{activate_url}}" style="padding: 15px 30px; text-align: center; background: #fff; text-decoration: none; 
      color: initial; font-size: 22px; border: 2px solid #DED293; border-radius: 10px; width: auto; display: inline-block;">
        Скинути
      </a>
    </div>
    <div style=" font-size: 14px; text-align: center; margin: 10px auto; max-width: 540px; margin: 0 auto;">
      Якщо Ви не бажаєте змінювати свій пароль або не запитували скидання паролю, Ви можете проігнорувати або видалити цей лист.
    </div>
    <div style="max-width: 540px; margin: 30px auto; border-top: 1px solid #dedede; color: #a5a5a5;
    font-size: 14px; line-height: 18px; text-align: center; padding: 30px 24px 32px;">
      WhySkin - магазин корейської косметики з індивідуальним підходом❤️ <br>
      Завжди свіжі новинки для всіх типів шкіри!
    </div>
</div>
{% endautoescape %}