{% autoescape off %}
<div style="max-width: 650px; padding: 28px 24px 10px; margin: 0 auto; font-family: sans-serif;">
    <div style="text-align: left;">
      <a href="https://whyskin.com.ua/" style="text-decoration: none;font-size: 27px; color: initial; text-align: center;">
        <span>WhySkin</span>     
      </a>
    </div>
    <div style="text-align: center; max-width: 476px; font-size: 27px;margin: 20px auto; ">
        Дякуємо за реєстрацію на WhySkin!
    </div>
    <div style="max-width: 600px; font-size: 20px; text-align: center; margin: 10px auto 30px auto;">
        Відтепер ми швидше оформлятимемо Вам замовлення!😊
    </div>
    <div style="margin-top: 20px; font-size: 15px;">
      <div style="font-size: 16px;">Виникли додаткові запитання?</div>
      <div>
        <div style="margin-top: 7px;"><strong>Наші контакти:</strong></div>
        <div style="margin-top: 5px; color: #898989;">Номер телефону: <a href="tel:+380986225033" style="text-decoration: underline; color: #898989;">+380(98) 622-50-33</a></div>
        <div style="margin-top: 5px; color: #898989;">Телеграм: <a href="https://t.me/whyskin" style="text-decoration: underline; color: #898989;">@whyskin</a></div>
      </div>
    </div>
    <div style="max-width: 540px; margin: 30px auto; border-top: 1px solid #dedede; color: #a5a5a5;
    font-size: 14px; line-height: 18px; text-align: center; padding: 30px 24px 32px;">
      WhySkin - магазин корейської косметики з індивідуальним підходом❤️ <br>
      Завжди свіжі новинки для всіх типів шкіри!
    </div>
</div>
{% endautoescape %}