{% extends 'cosmetics/base.html' %}
{% load static %}  
{% load i18n %} 

{% block title %}{% translate 'Запрос' %}: "{{search_product}}"{% endblock %}
{% block head %}
    <meta name="description" content="{% translate 'Вот что мы нашли по вашему запросу' %} {{search_product}}">   
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:site_name" content="WhySkin"/>
    <meta property="og:image" content="https://whyskin.com.ua{% static 'img/logo.jpg' %}"/>
    <meta property="og:title" content="{% translate 'Ваш запрос' %}: {{search_product}}" />
    <meta property="og:description" content="{% translate 'Вот что мы нашли по вашему запросу' %} {{search_product}}" />
    <meta property="og:type" content="website" />
{% endblock %}
{% block styles %}
    <link href="{% static 'css/cosmetics_list.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if products %}

    <h1 class="category_name">{% translate 'Продукты по запросу' %}: {{search_product}}</h1>

    <div class="products_block">
        <div class="products_filters"></div>
        <div class="items">
            {% for product, image, is_added_to_cart, is_added_to_liked in products %}
                <div class="product_item">
                    <span class="item_add_to_liked">
                        <span class="loading_when_clicked"></span>
                        {% if is_added_to_liked %}
                            <img src="{% static 'img/full_add_to_liked.svg' %}" alt="{% translate 'Удалить из понравившихся' %}" title="{% translate 'Удалить из понравившихся' %}">
                        {% else %}
                            <img src="{% static 'img/empty_add_to_liked.svg' %}" alt="{% translate 'Добавить в понравившиеся' %}" title="{% translate 'Добавить в понравившиеся' %}">
                        {% endif %}
                    </span>
                    <a href="{% url 'cosmetics:product' product.slug %}" class="cover_image_span"><img src="{{image.image.url}}" alt="{% translate 'Фото продукта' %} {{product.name}}"  class="item_img"></a>
                    <a href="{% url 'cosmetics:product' product.slug %}" class="item_name">{{product.name}}</a> 
                    <div class="item_brand">{{product.manufacturer}}</div>
                    <div class="item_options">
                        <div class="item_prices">
                            {% if product.old_price %}
                                <div class="item_old_price">
                                    {{product.old_price|floatformat:"0" }} <span>₴</span>
                                </div>
                            {% endif %}
                            <div class="item_price">
                                {{product.price|floatformat:"0" }} <span>₴</span>
                            </div>
                        </div>
                        <span class="item_add_to_cart">
                            {% if is_added_to_cart %}
                                <img src="{% static 'img/full_add_to_cart.svg' %}" alt="{% translate 'Удалить из корзинки' %}" title="{% translate 'Удалить из корзинки' %}" class="add_to_cart_img">
                            {% else %}
                                <img src="{% static 'img/empty_add_to_cart.svg' %}" alt="{% translate 'Добавить в корзинку' %}" title="{% translate 'Добавить в корзинку' %}" class="add_to_cart_img">
                            {% endif %}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
    {% if page.paginator.num_pages != 1 %}
    <div class="pagination">  
        <div class="pagination_content">
            {% if page.has_previous %}
                <a href="?search_product={{search_product}}&page={{ page.previous_page_number }}" class="pag_arrow_back"></a>
            {% endif %}
        
            {% if page.has_next %}
                <span class="this_page">{{page.number}}</span> {% translate "из" %} {{page.paginator.num_pages}}
                <a href="?search_product={{search_product}}&page={{ page.next_page_number }}" class="pag_arrow_forw"></a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% else %}
    <h1 class="category_name">{% translate 'По запросу' %} <span style="border-bottom: 2px solid;">{{search_product}}</span> {% translate 'ничего не найдено' %} 😞</h1>
    <img class="empty_liked_carted_img" src="{% static 'img/search_empty.svg' %}" alt="{% translate 'По Вашему запросу ничего не найдено' %}">
    {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}



